@import "bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
a {
  text-decoration: none !important;
  color: white;
}

.HomeNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomeNavbar .logo {
  color: #e50914;
  font-size: 2.35rem;
  font-family: "Permanent Marker", sans-serif;
}
.HomeNavbar .logo span {
  color: white;
}
.HomeNavbar .log-btn {
  background-color: #e50914;
  padding: 5px 19px;
  font-size: 19px;
  border-radius: 4px;
}
@media (max-width: 575px) {
  .HomeNavbar .logo {
    font-size: 2rem;
  }
}

.HomePage {
  height: 700px;
  position: relative;
  color: white;
  background: url("/homepage.jpg");
  background-size: cover;
}
.HomePage::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  left: 0;
  bottom: -8px;
  background-color: #e50914;
}
.HomePage .HomeNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.HomePage .Content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;
}
.HomePage .Content .head {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 49px;
}
.HomePage .Content .sub-head {
  font-size: 24px;
}
.HomePage .Content .mail-head {
  margin-top: 15px;
  font-size: 20px;
}
.HomePage form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.HomePage form .Inputs {
  width: 481px !important;
  margin-right: 15px;
  color: white;
}
@media (max-width: 992px) {
  .HomePage {
    background-position-x: 64%;
  }
  .HomePage .overlay {
    background-color: rgba(0, 0, 0, 0.67);
  }
  .HomePage .Content .head {
    font-size: 37px;
  }
}
@media (max-width: 767px) {
  .HomePage {
    height: 550px;
  }
  .HomePage img {
    width: 1200px !important;
    margin-left: -122%;
  }
  .HomePage .Content {
    margin-top: 50px;
    padding: 40px;
    padding-bottom: 0;
  }
  .HomePage .Content .head {
    font-size: 32px;
  }
  .HomePage .Content .sub-head,
  .HomePage .Content .mail-head {
    font-size: 19px;
    margin-top: 13px;
  }
  .HomePage .btnSubmit {
    font-size: 12px;
  }
  .HomePage form {
    padding: 10px;
  }
  .HomePage form .Inputs {
    width: 269px !important;
    margin-right: 6px;
  }
}

.About {
  padding: 70px 0px;
  margin-bottom: 130px;
}
.About .Info-Card {
  padding-right: 60px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.About .Info-Card .top-head {
  font-size: 32px;
}
.About .Info-Card .main-head {
  font-size: 100px;
  font-weight: 800;
  font-family: "Montserrat";
  margin-top: -20px;
}
.About .Info-Card .bg-head {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  background: linear-gradient(to right, #850007, #e50914);
  color: white;
  left: 68px;
  padding: 10px 54px;
  font-size: 29px;
  font-weight: 700;
}
.About .Info-Card .desc {
  margin-top: 25px;
  font-size: 23px;
  width: 70%;
}
.About .Info-Card .more {
  background: linear-gradient(to right, #850007, #e50914);
  color: white;
  font-weight: 700;
  font-size: 22px;
  margin-top: 48px;
  padding: 10px 20px;
}
.About .Image-Card {
  padding: 0;
  position: relative;
  display: flex;
}
.About .Image-Card .img-fluid {
  position: relative;
  z-index: 1;
}
.About .Image-Card::before, .About .Image-Card::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 40px;
  background: linear-gradient(to right, #850007, #e50914);
  z-index: 1;
}
.About .Image-Card::before {
  top: -20px;
  right: 0;
  z-index: 2;
}
.About .Image-Card::after {
  bottom: -20px;
  left: 0;
}
.About .Image-Card .aquar {
  width: 200px;
  height: 200px;
  position: absolute;
  right: -75px;
  bottom: -75px;
  border: 27px solid #e50914;
  z-index: 0;
}
.About .row {
  margin-top: 90px;
}
@media (max-width: 1650px) {
  .About .Info-Card .main-head {
    font-size: 94px;
  }
  .About .Info-Card .top-head {
    font-size: 28px;
  }
  .About .Info-Card .bg-head {
    padding: 10px 46px;
    font-size: 20px;
  }
  .About .Info-Card .desc {
    font-size: 20px;
    width: 82%;
  }
}
@media (max-width: 1400px) {
  .About .Info-Card .main-head {
    font-size: 77px;
  }
  .About .Info-Card .top-head {
    font-size: 25px;
  }
  .About .Info-Card .bg-head {
    padding: 10px 37px;
    font-size: 17px;
  }
  .About .Info-Card .desc {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .About .Info-Card {
    padding-right: 27px;
  }
  .About .Info-Card .main-head {
    font-size: 60px;
    margin-top: -8px;
  }
  .About .Info-Card .top-head {
    font-size: 21px;
  }
  .About .Info-Card .bg-head {
    padding: 10px 20px;
    font-size: 15px;
    left: 36px;
  }
  .About .Info-Card .desc {
    width: 85%;
  }
  .About .Info-Card .more {
    font-size: 17px;
    margin-top: 23px;
  }
}
@media (max-width: 992px) {
  .About {
    padding: 0;
    margin-bottom: 50px;
  }
  .About .Info-Card {
    padding: 0;
    margin-top: 50px;
    align-items: flex-start;
  }
  .About .Info-Card .bg-head {
    width: 100%;
    left: 0;
    padding: 17px 10px;
    text-align: center;
  }
  .About .Info-Card .main-head {
    font-size: 55px;
  }
  .About .Info-Card .main-head,
  .About .Info-Card .top-head,
  .About .Info-Card .more {
    margin-left: 10px;
  }
  .About .Info-Card .desc {
    width: 100%;
    padding: 7px;
    text-align: left;
  }
  .About .Image-Card::before, .About .Image-Card::after {
    height: 32px;
  }
  .About .Image-Card::before {
    top: -16px;
  }
  .About .Image-Card::after {
    bottom: -16px;
  }
  .About .Image-Card .aquar {
    display: none;
  }
}

.footer {
  height: 700px;
  position: relative;
  background: url("/footer.jpg");
  background-size: cover;
  color: white;
  overflow: hidden;
}
.footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  display: flex;
}
.footer .img-fluid {
  width: 100%;
  margin-top: -16%;
}
.footer .content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
.footer .content .head {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 36px;
}
.footer .content .desc {
  font-size: 23px;
  padding: 15px 0;
  color: rgba(255, 255, 255, 0.7294117647);
}
.footer .content form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}
.footer .content form .name {
  width: 30%;
}
.footer .content form .email {
  width: 60%;
}
.footer .content form .Inputs {
  background-color: rgba(255, 255, 255, 0.125);
}
.footer .foot-card {
  text-align: center;
  margin: 15px auto;
}
.footer .foot-card .card-head {
  font-weight: 500;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.7803921569);
}
.footer .foot-card .card-desc {
  width: 85%;
  margin: 15px auto;
  color: rgba(255, 255, 255, 0.7803921569);
}
.footer .copy {
  position: absolute;
  bottom: 33px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6392156863);
}
@media (max-width: 1400px) {
  .footer .content .head {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .footer {
    height: 1460px;
    background-position-x: 58%;
  }
  .footer .overlay {
    padding: 20px;
  }
  .footer .content .desc {
    font-size: 19px;
  }
  .footer .content form {
    flex-direction: column;
  }
  .footer .content form .Inputs {
    width: 100% !important;
    margin: 15px auto;
  }
  .footer .foot-card .card-head {
    font-weight: 800;
    font-size: 26px;
  }
  .footer .copy {
    bottom: 5px;
    text-align: center;
    font-size: 16px;
    width: 90%;
  }
}

.sideBar-Left {
  text-align: right;
  left: 0;
  padding: 0px 10px 20px 12px;
  position: fixed;
  height: 92vh;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 72px;
  padding: 20px 0;
}
.sideBar-Left .head {
  font-size: 22px;
  font-weight: 500;
}
.sideBar-Left .head span {
  font-family: "Permanent Marker", sans-serif;
  color: #e50914;
}
.sideBar-Left .social-icon {
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 30px;
}
.sideBar-Left .social {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 20px 0;
}
.sideBar-Left .social-name {
  margin-right: 13px;
  font-size: 20px;
}
.sideBar-Left .commons .common-head {
  font-size: 21px;
  font-weight: 800;
  color: #ff7800;
}
.sideBar-Left .commons .ternding {
  font-size: 17px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}
.sideBar-Left .commons .ternding::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(30, 30, 30);
}
@media (max-width: 1400px) {
  .sideBar-Left .head {
    font-size: 18px;
  }
  .sideBar-Left .social-name {
    font-size: 15px;
  }
  .sideBar-Left .commons .common-head {
    font-size: 15px;
  }
  .sideBar-Left .commons .ternding {
    font-size: 13px;
    margin-top: 14px;
    padding: 0px;
  }
}
@media (max-width: 992px) {
  .sideBar-Left {
    display: none;
  }
}

.sideBar-right {
  right: 0;
  direction: rtl;
  text-align: right;
  position: fixed;
  height: 92vh;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 72px;
  padding: 20px 0;
  padding: 20px;
}
.sideBar-right .section {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.sideBar-right .section .secion-name {
  font-size: 20px;
  margin-right: 15px;
}
.sideBar-right .section .section-icon {
  font-size: 37px;
}
.sideBar-right .filter-card {
  display: flex;
  justify-content: start;
  cursor: pointer;
  align-items: center;
  background-color: #3c9a4d;
  padding: 9px 14px;
  border-radius: 10px;
  margin-top: 15px;
}
.sideBar-right .filter-head {
  color: #3c9a4d;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 1450px) {
  .sideBar-right {
    padding: 8px;
  }
  .sideBar-right .section .secion-name {
    font-size: 16px;
    margin-right: 6px;
  }
  .sideBar-right .section .section-icon {
    font-size: 29px;
  }
  .sideBar-right .filter-card {
    padding: 4px;
    margin-top: 12px;
  }
  .sideBar-right .filter-head {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .sideBar-right {
    display: none;
  }
}

.HomeMoives {
  background-color: black;
  color: white;
}
.HomeMoives .CenterContent {
  margin: 40px auto;
  padding: 20px;
}
.HomeMoives .CenterContent .Movie-Card {
  width: calc(20% - 10px);
  margin-right: 12px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.HomeMoives .CenterContent .Movie-Card .img-fluid {
  transition: 0.3s;
}
.HomeMoives .CenterContent .Movie-Card .btns {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  transition: 0.3s;
}
.HomeMoives .CenterContent .Movie-Card .btns .btn1 {
  border: 1px solid #ebb134;
  cursor: pointer;
  color: #ebb134;
  padding: 5px 12px;
  border-radius: 4px;
  transition: 0.2s;
}
.HomeMoives .CenterContent .Movie-Card .btns .btn1:hover {
  background-color: #ebb134;
  color: black;
}
.HomeMoives .CenterContent .Movie-Card:hover .img-fluid {
  transform: translateY(-15px);
}
.HomeMoives .CenterContent .Movie-Card:hover .Movies-details {
  height: 180px;
  margin-top: -60px;
}
.HomeMoives .CenterContent .Movie-Card:hover .btns {
  bottom: 14px;
}
.HomeMoives .CenterContent .Movie-Card .ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}
.HomeMoives .CenterContent .Movie-Card .ribbon-wrapper .ribbon {
  font: bold 15px sans-serif;
  color: #333;
  text-align: center;
  transform: rotate(-45deg);
  position: relative;
  padding: 7px 0;
  top: 15px;
  left: -30px;
  width: 120px;
  background-color: #ebb134;
  color: #fff;
}
.HomeMoives .CenterContent .Movie-Card .Movies-details {
  background-color: #1e1e1e;
  padding: 10px;
  height: 120px;
  transition: 0.3s;
  position: relative;
}
.HomeMoives .CenterContent .Movie-Card .Movies-details .movie-name {
  font-size: 18px;
  font-weight: 900;
  color: #ebb134;
}
.HomeMoives .CenterContent .Movie-Card .Movies-details .type {
  margin-top: 9px;
  color: rgba(2, 107, 255, 0.7490196078);
}
.HomeMoives .CenterContent .Movie-Card .Movies-details .year {
  color: rgba(255, 255, 255, 0.5607843137);
  margin-top: 10px;
}
.HomeMoives .center-menu {
  margin-top: 20px;
  display: flex;
  overflow: scroll;
  justify-content: space-around;
}
.HomeMoives .center-menu .ternding {
  cursor: pointer;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 23px;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .HomeMoives .CenterContent {
    width: 100%;
  }
  .HomeMoives .CenterContent .Movie-Content .Movie-Card .Movies-details .type,
  .HomeMoives .CenterContent .Movie-Content .Movie-Card .Movies-details .year {
    display: none;
  }
}

.MovieNavbar {
  background-color: #e50914 !important;
  position: fixed;
  width: 100%;
  padding: 8px 30px;
  z-index: 100;
}
.MovieNavbar .logo {
  font-size: 25px;
  font-family: "Permanent Marker", sans-serif;
}
.MovieNavbar .logo span {
  color: black;
}
.MovieNavbar .me-auto {
  font-family: "Permanent Marker", sans-serif;
  margin-left: 50px;
}
.MovieNavbar .me-auto .Menu-Lies {
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
  color: white;
}
.MovieNavbar .dropdown-menu {
  background-color: white;
  width: 232px;
  text-align: center;
  width: 300px;
  padding: 20px 10px;
  font-size: 18px;
}
.MovieNavbar .dropdown-menu a {
  color: #e50914;
  font-family: "Montserrat";
  margin: 10px 0;
}
.MovieNavbar .dropdown-menu a:hover {
  background-color: transparent;
  color: black;
}
.MovieNavbar .login-btn {
  background-color: white;
  color: red;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 800;
  transition: 0.2s;
  border: 1px solid white;
}
.MovieNavbar .login-btn:hover {
  background-color: transparent;
  color: white;
}
@media (max-width: 992px) {
  .MovieNavbar .dropdown-menu {
    width: 100%;
    background-color: white;
  }
  .MovieNavbar .dropdown-menu a {
    color: black;
  }
}

html {
  font-family: "Cairo" !important;
  font-weight: 400;
  overflow-x: hidden;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.23) !important;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.MuiButtonBase-root {
  color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.23) !important;
}

::-webkit-scrollbar {
  background-color: black;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(77, 0, 0);
}

::-webkit-scrollbar-corner {
  background-color: rgb(0, 0, 0);
}

.progressCircle {
  display: block;
  margin-top: 50%;
  margin-left: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}/*# sourceMappingURL=globals.css.map */